<div class="container-fluid navbar navbar-dark bg-dark">
  <div class="navbar-brand">TODO List</div>
</div>
<div class="container">
  <div class="input-group my-3">
    <select class="btn btn-secondary" [(ngModel)]="priority">
        <option class="dropdown-item bg-light">High</option>
        <option class="dropdown-item bg-light">Medium</option>
        <option class="dropdown-item bg-light">Low</option>
    </select>
    <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="data" placeholder="Up for a new task?">
    <button (click)="add()" class="btn btn-secondary">add</button>
  </div>
  <div class="alert alert-light">{{count}} of {{list.length}} pending</div>
</div>
<div class="container bg-light lc p-3">
  <ul>
    <li *ngFor="let l of list; let i = index;" class="animated fadeInDown m-3 d-block row">
      <div class="d-flex flex-row justify-content-center">
        <span class="alert align-item-center p-3 mb-0 flex-fill" [ngClass]="{'alert-danger':l.status=='pending', 'alert-success':l.status=='completed'}" (click)="status(l)">
          <span class="mx-3">{{l.task}}</span>
          <span class="mx-3 alert" [ngClass]="{'alert-dark': l.priority == 'Low', 'alert-warning': l.priority == 'Medium', 'alert-light': l.priority == 'High'}">priority: {{l.priority}}</span>
          <span class="mx-3 alert alert-dark">{{l.date}}</span>
        </span>
        <span class="align-self-center"><button class="btn btn-success p-3" (click)="edit(l)">Edit</button></span>
        <span class="align-self-center"><button class="btn btn-danger p-3" (click)="remove(l, i)"><i class="fa fa-trash"></i></button></span>
      </div>
    </li>
  </ul>
</div>